<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>MicroBlog</title>
		<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/css/default.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/css/cosmic.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/css/fonts.css}" type="text/css" />
	</head>
	
	<script  th:inline="javascript">
		function showhideEdit(id, title, description, source) {
		var x = document.getElementById("edit");
			if (x.style.display === "none") {
				document.getElementById("editTitle").value = title;
				document.getElementById("editDescription").value = description;
				document.getElementById("editSource").value = source;
				document.getElementById("editId").value = id;
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}
	</script>
	
	<body id="body" class="nb-theme-cosmic">
		<nb-layout>
		<div class="scrollable-container">
			<div class="layout">
				<nb-layout-header class="fixed">
				<nav class="fixed">
					<div class="row">
						<div class="col-sm-10">
							<a href="http://lwd2017.pl">
								<img class="navLogo" src="assets/logoSite.svg" type="image/svg+xml" />
							</a>
						</div>
						<div class="col-sm-1;"  >
							<a class="btn btn-hero-success main-btn" style="display:none" target="_blank">
							</a>
						</div>
					</div>
				</nav>
				</nb-layout-header>
				<div class="content">
					<div class="columns">
						<nb-layout-column class="main-content">
							<div class="row">
								<nb-card class="w-100">
								<nb-card-header style="line-height:30px; width: auto; display: block">Dodaj pozycję</nb-card-header>
								<nb-card-body>
								<form th:action="@{/posts}" th:object="${Post}" action="/posts" th:method="POST" class="m-3">
									<fieldset>
										<div class="row ">
											<div class="input-group input-group-rounded col-sm-3 h-75">
												<input class="form-control" placeholder="Tytuł" type="text"   name="title" required="required"   />
											</div>
											<div class="input-group input-group-rounded col-sm-3 h-75">
												<input class="form-control" placeholder="Opis" type="text"   name="description" required="required"  />
											</div>
											<div class="input-group input-group-rounded col-sm-3 h-75">
												<input class="form-control" placeholder="Źródło" type="text"  name="source" required="required"  />
											</div>
											<div class="input-group input-group-rounded col-sm-3 h-75">
												<input class="btn btn-hero-success main-btn w-100 " type="submit" value="Dodaj" />
											</div>
										</div>
									</fieldset>
									<fieldset>
									</fieldset>
								</form>
								</nb-card-body>
								</nb-card>
							</div>
							
							<div style="display:none" id="edit">
								<div class="row">
									<nb-card class="w-100" style="border: 2px solid #ffa100">
									<nb-card-header style="line-height:30px; width: auto; display: block">Edytuj pozycję</nb-card-header>
									<nb-card-body>
									<form th:action="@{/posts}" th:object="${Post}" action="/posts" th:method="PUT" class="m-3">
										<fieldset>
											<div class="row ">
												<div class="input-group input-group-rounded col-sm-3 h-75">
													<input class="form-control" placeholder="Tytuł" type="text" id="editTitle" name="title" required="required"   />
												</div>
												<div class="input-group input-group-rounded col-sm-3 h-75">
													<input class="form-control" placeholder="Opis" type="text" id="editDescription"  name="description" required="required"  />
												</div>
												<div class="input-group input-group-rounded col-sm-3 h-75">
													<input class="form-control" placeholder="Źródło" type="text" id="editSource" name="source" required="required"  />
												</div>
												<div class="input-group input-group-rounded col-sm-3 h-75">
													<input type="hidden" id="editId"  name="id" />
													<input class="btn btn-success btn-round btn-demo w-100 " type="submit" value="Zapisz" />
												</div>
											</div>
										</fieldset>
										<fieldset>
											
										</fieldset>
									</form>
									</nb-card-body>
									</nb-card>
								</div>
							</div>
							
							<div class="row">
								<nb-card class="w-100">
								<nb-card-header style="line-height:30px; width: auto; display: block">Zebrane materiały:</nb-card-header>
								<ng2-smart-table class="w-100">
								<table class=" w-100 p-5  mt-3 ">
									<thead >
										<tr class="ng2-smart-titles w-100">
											<th>Id</th>
											<th>Tytuł</th>
											<th>Opis</th>
											<th>Źródło</th>
											<th>Edytuj</th>
											<th>Usuń</th>
										</tr>
									</thead>
									<tbody>
										<tr class="ng2-smart-row" th:each="post : ${postList}">
											<td th:text="${post.id}"></td>
											<td th:text="${post.title}"></td>
											<td th:text="${post.description}"></td>
											<td th:text="${post.source}"></td>
											<td>
												<input type="hidden" th:value="${post}" />
												<input class="btn btn-hero btn-warning" type="submit" value="Edytuj" th:attr="onclick='javascript:showhideEdit(\'' + ${post.id} + '\',\'' + ${post.title} + '\',\'' + ${post.description}  + '\',\'' + ${post.source} + '\');'"  />
											</td>
											<td>
												<form th:action="@{/posts/} + ${post.id}" th:method="DELETE">
													<input class="btn btn-hero-danger" type="submit" value="Usuń"/>
												</form>
											</td>
										</tr>
									</tbody>
								</table>
								</ng2-smart-table>
								</nb-card>
							</div>
						
						</nb-layout-column >
					</div>
				</div>
			</div>
		</div>
		</nb-layout>
	</body>
</html>